<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.pub.manage.mapper.OrderItemMapper">

    <insert id="addOrderItems">
        INSERT INTO order_item VALUES
        <foreach collection="orderItems" separator="," item="item">
            (#{item.itemId},#{item.orderId},#{item.roomId},#{item.realityComeTime},#{item.realityLeaveTime},
            #{item.itemStatus},#{item.itemCreatTime},#{item.itemUpdateTime})
        </foreach>
    </insert>
</mapper>
