<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.pub.manage.mapper.OrderMapper">

    <select id="getRoomSumByTypeId" resultType="java.lang.Integer">
        SELECT SUM(reserve_number) FROM orders WHERE type_id = #{typeId}
        AND ( come_time &lt; #{beginTime} AND leave_time &gt; #{beginTime} )
        OR ( come_time &gt;= #{beginTime} AND leave_time &lt;= #{endTime} )
        OR ( come_time &lt; #{endTime} AND leave_time &gt; #{endTime} )
        OR ( come_time &lt;= #{beginTime} AND leave_time &gt;= #{endTime} )
    </select>

    <select id="getNotDoneOrderCountByTypeId" resultType="int">
        SELECT COUNT(*) FROM orders WHERE order_status = '0' AND type_id = #{typeId}
    </select>

    <insert id="addOrder">
       INSERT INTO orders VALUES
       (#{order.orderId},#{order.userId},#{order.typeId},#{order.lodgerName},#{order.lodgerPhone},#{order.reserveNumber},
        #{order.comeTime},#{order.leaveTime},#{order.roomPrice},#{order.orderPrice},#{order.orderRealityPrice},
        #{order.orderShowStatus}, #{order.orderStatus},#{order.orderCreatTime},#{order.orderUpdateTime})
    </insert>

    <select id="getOrderList" resultType="com.jx.pub.common.pojo.Orders">
        SELECT * FROM orders
        <where>
             ( order_status = '0' OR order_status = '1' )
            <if test="con.typeId != null and con.typeId != ''">AND type_id = #{con.typeId}</if>
            <if test="con.lodgerName != null and con.lodgerName != ''">AND lodger_name LIKE CONCAT('%',#{con.lodgerName},'%')</if>
            <if test="con.lodgerPhone != null and con.lodgerPhone != ''">AND lodger_phone LIKE CONCAT('%',#{con.lodgerPhone},'%')</if>
            <if test="con.orderStatus != null and con.orderStatus != ''">AND order_status = #{con.orderStatus}</if>
            <if test="con.orderSource == '0'.toString() ">AND user_id = '0000'</if>
            <if test="con.orderSource == '1'.toString() ">AND user_id != '0000'</if>
            <if test="con.beginTime != null and con.beginTime != '' and con.endTime != null and con.endTime != ''">
                AND order_creat_time &lt;= #{con.endTime} AND order_creat_time &gt; #{con.beginTime}
            </if>
        </where>
    </select>

    <update id="deleteOrderById">
        UPDATE orders SET order_status = '3' WHERE order_id = #{orderId}
    </update>

    <update id="updateOrderById">
        UPDATE orders SET type_id = #{order.typeId} , reserve_number = #{order.reserveNumber} ,
        room_price = #{order.roomPrice} , order_price = #{order.orderPrice} , order_reality_price = #{order.orderRealityPrice} ,
        order_status = #{order.orderStatus} , order_update_time = #{order.orderUpdateTime}
        WHERE order_id = #{order.orderId}
    </update>

    <select id="getOrderById" resultType="com.jx.pub.common.pojo.Orders">
        SELECT * FROM orders WHERE order_id = #{orderId}
    </select>

    <update id="updateOrderStatusById">
        UPDATE orders SET
        order_status = #{status}, order_update_time = #{updateTime}
        WHERE order_id = #{orderId}
    </update>

</mapper>
